*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
  
body{
  background-color: #EA6F5F;
}
img {
   border-radius: 45px;
  width: 120px;   
}
.app-header {
    background: #4CD6E7;
    box-shadow: 3px 3px 10px #888888;
    }
    
    .app-header .container ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    
    .app-header ul li h3{
    padding: 10px 0;
    font-family: 'Devonshire', cursive;
    }
    
    .navbar-nav {
      margin: auto -15px;
    }
    .custom-box{
      background-color: #ffffff;
      margin: 40px auto;
      padding: 10px;
      border-radius: 10px;
      }
   .quiz-box h3{
      font-size: 10px;
      color: #000000;
      font-weight: 500;
      margin-bottom: 15px;
      line-height: 25px;
      }
   .quiz-box p{
      font-size: 16px;
      margin-bottom: 10px;
      line-height: 22px;
      color: #000000;
      font-weight: 400;
      }
  
   .quiz-box p span{
      font-weight: 500;
      }
  
   .quiz-box .quiz-btn{
      margin-top: 20px;
      }
  
   .quiz-btn {
      padding: 15px 45px;
      background-color: #009688;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      }
  
  
  .content h2{
      padding: 5%;
  }
  
  .grid {
      display: grid;
      grid-gap: 10px;
  }
  
  .grid .item {
      display: flex;
      height: 250px;
      flex-direction: column;
      border: 1px black solid;
      background-color: #ccc;
      padding: 10px;
      box-shadow: 1px 1px 2px #ccc;
  }
  
  
  .grid .item p {
      font-size: 14px;
      color: var(--secondary-color);
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .grid .item1 {
      display: flex;
      width: 350px;
      height: 150px;
      flex-direction: column;
      border: 1px black solid;
      background-color: #ccc;
      padding: 10px;
      box-shadow: 1px 1px 2px #ccc;
  }
  
  
  .grid .item p {
      font-size: 14px;
      color: var(--secondary-color);
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .custom-box{
      background-color: #ffffff;
      margin: 40px auto;
      padding: 10px;
      border-radius: 10px;
  }
  
  .quiz-box h3{
      font-size: 10px;
      color: #000000;
      font-weight: 500;
      margin-bottom: 15px;
      line-height: 25px;
      text-align: center;
  }
  .quiz-box p{
      font-size: 16px;
      margin-bottom: 10px;
      line-height: 22px;
      color: #000000;
      font-weight: 400;
      text-align: center;
  }
  
  .quiz-box p span{
      font-weight: 500;
  }
  
  .quiz-box .quiz-btn{
      margin-top: 20px;
  }
  
  .quiz-btn {
      padding: 15px 45px;
      background-color: #009688;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
  }
    
    .app-footer {
    flex-shrink: 0;
    background: #f4f4f4;
    color: #444;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
    }
    
    .app-footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
    
    .app-footer ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .app-footer ul li i {
    font-size: 22px;
    }
    
    .app-footer ul li img{
    width: 23px;
    height: 23px;
    font-size: 22px;
    }