header,
footer {
    position: relative;
    padding: 2em 3em;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 10vh;
    background-color: #ffffff;
}

header h3 {
    position: relative;
    margin: 0;
    font-family: 'Nerko One', cursive;
    font-size: 3rem;
    color: #21421e;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

header ul li {
    position: relative;
    margin: 0 1em;
    transition: all 0.2s linear;
}

header ul li a {
    font-family: 'Nerko One', cursive;
    font-weight: 500;
    color: #fff;
}
body {
    background-color: blue;
}