*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

html,body{
  height: 100%;
}

body{
    background-color: #EA6F5F;
    display: flex;
    flex-direction: column;
}
.content{
  flex: 1 0 auto;
}

.app-header {
background: #4CD6E7;
box-shadow: 3px 3px 10px #888888;
}

.app-header .container ul li {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.app-header ul li h3{
padding: 10px 0;
font-family: 'Devonshire', cursive;
}

.navbar-nav {
  margin: auto -15px;
}

.content .container-news{
    width: 80%;
    height: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #888888;
}

.container-news{
  width: 80%;
  max-width: 80rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #888888;
}

.container-news h3{
  padding: 5%;
  font-size: 20px;
  font-weight: 500;
}

.accordion-item{
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 3px 3px 10px #888888;
}

.accordion-link{
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordion-link i{
  color: #e7d5ff;
  padding: .5rem;
}

.accordion-link #remove{
  display: none;
}
.answer{
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #56575a;
  transition: max-height 650ms;
}

.answer p{
  color: #fff;
  font-size: 1.6rem;
  padding: 2rem;
}

.accordion-item:target .answer{
  max-height: 20rem;
}

.accordion-item:target .accordion-link #add{
  display: none;
}

.accordion-item:target .accordion-link #remove{
  display: block;
}

.app-footer {
flex-shrink: 0;
background: #f4f4f4;
color: #444;
padding: 10px;
font-size: 14px;
margin-top: 10px;
}

.app-footer ul {
display: flex;
align-items: center;
justify-content: space-around;
}

.app-footer ul li {
display: flex;
flex-direction: column;
align-items: center;
}

.app-footer ul li i {
font-size: 22px;
}

.app-footer ul li img{
width: 23px;
height: 23px;
font-size: 22px;
}