*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  } 
  
  html,body{
    height: 100%;
  }

  body{
      background-color: #EA6F5F;
      display: flex;
      flex-direction: column;
  }
  .content{
    flex: 1 0 auto;
  }
  img {
      border-radius: 45px;
      width: 120px;
  }

.intro-box{
    background-color: #ffffff;
    width: 90%;
    height: 90px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 5px;
}

.intro-box h3{
    font-size: 10px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
    text-align: center;
}

.mission-box{
    background-color: #ffffff;
    width: 90%;
    height: 140px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 5px;
}

.mission-box h3{
    font-size: 10px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
    text-align: center;
}

.container {
	width: 90%;
	margin: 0 auto;
	overflow: none;
	padding: 10px;
}

.app-header {
	background: #4CD6E7;
	box-shadow: 3px 3px 10px #888888;
}

.app-header .container {
	display: flex;
	align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.app-header ul li{
  list-style-type: none;
}



.app-footer {
	flex-shrink: 0;
	background: #f4f4f4;
	color: #444;
	padding: 10px;
	font-size: 14px;
	margin-top: 10px;
}

.app-footer ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.app-footer ul li {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app-footer ul li i {
	font-size: 22px;
}